<div class="page">
    <div class="filtration">
        <form>
            <label>Выберите дату:</label>
            <input type="date">
            <label>Выберите валюту:</label>
            <select>
                <option value="USD">Доллар</option>
                <option value="petersburg">Евро</option>
                <option value="samara">Российский рубль</option>
                <option value="perm">Юань</option>
            </select>
            <input type="submit" value="Отправить">
          </form>
    </div>
</div>
